.customLoader {
  width: 130%;
  height: 130%;
  border-radius: 100%;
  /* border: rgb(58, 255, 58) solid 0.6rem; */
  background: rgb(58, 255, 58);
  position: absolute;
  top: -22px;
  left: -22px;
  padding: 5rem;
  /* mix-blend-mode: overlay; */
  animation: elongate 2s ease-in-out infinite;
}

@keyframes elongate {
  0% {
    clip-path: polygon(50% 0%, 60% 0, 50% 50%);
  }
  1.32% {
    clip-path: polygon(50% 0%, 70% 0, 50% 50%);
  }
  2.63% {
    clip-path: polygon(50% 0%, 80% 0, 50% 50%);
  }
  3.95% {
    clip-path: polygon(50% 0%, 90% 0, 50% 50%);
  }
  5.26% {
    clip-path: polygon(50% 0%, 100% 0, 100% 10%, 50% 50%);
  }
  6.58% {
    clip-path: polygon(50% 0%, 100% 0, 100% 20%, 50% 50%);
  }
  7.89% {
    clip-path: polygon(50% 0%, 100% 0, 100% 30%, 50% 50%);
  }
  9.21% {
    clip-path: polygon(50% 0%, 100% 0, 100% 40%, 50% 50%);
  }
  10.53% {
    clip-path: polygon(50% 0%, 100% 0, 100% 50%, 50% 50%);
  }
  11.84% {
    clip-path: polygon(50% 0%, 100% 0, 100% 60%, 50% 50%);
  }
  13.16% {
    clip-path: polygon(50% 0%, 100% 0, 100% 70%, 50% 50%);
  }
  14.47% {
    clip-path: polygon(50% 0%, 100% 0, 100% 80%, 50% 50%);
  }
  15.79% {
    clip-path: polygon(50% 0%, 100% 0, 100% 90%, 50% 50%);
  }
  17.11% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 50%);
  }
  18.42% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 90% 100%, 50% 50%);
  }
  19.74% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 80% 100%, 50% 50%);
  }
  21.05% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 70% 100%, 50% 50%);
  }
  22.37% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 60% 100%, 50% 50%);
  }
  23.68% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 50% 100%, 50% 50%);
  }
  25.0% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 40% 100%, 50% 50%);
  }
  26.32% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 30% 100%, 50% 50%);
  }
  27.63% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 20% 100%, 50% 50%);
  }
  28.95% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 10% 100%, 50% 50%);
  }
  30.26% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%, 0 90%, 50% 50%);
  }
  31.58% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%, 0 80%, 50% 50%);
  }
  32.89% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%, 0 70%, 50% 50%);
  }
  34.21% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%, 0 60%, 50% 50%);
  }
  35.53% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%, 0 50%, 50% 50%);
  }
  36.84% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%, 0 40%, 50% 50%);
  }
  38.16% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%, 0 30%, 50% 50%);
  }
  39.47% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%, 0 20%, 50% 50%);
  }
  40.79% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%, 0 10%, 50% 50%);
  }
  42.11% {
    clip-path: polygon(50% 0%, 100% 0, 100% 100%, 0% 100%, 0 0, 50% 50%);
  }
  43.42% {
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 100%,
      0% 100%,
      0 0,
      10% 0%,
      50% 50%
    );
  }
  44.74% {
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 100%,
      0% 100%,
      0 0,
      20% 0%,
      50% 50%
    );
  }
  46.05% {
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 100%,
      0% 100%,
      0 0,
      30% 0%,
      50% 50%
    );
  }
  47.37% {
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 100%,
      0% 100%,
      0 0,
      40% 0%,
      50% 50%
    );
  }
  48.68% {
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      50% 50%
    );
  }
  50% {
    clip-path: polygon(
      50% 0%,
      100% 0,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      50% 50%
    );
  }
  51.32% {
    clip-path: polygon(
      70% 0%,
      100% 0,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  52.63% {
    clip-path: polygon(
      80% 0%,
      100% 0,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  53.95% {
    clip-path: polygon(
      90% 0%,
      100% 0,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  55.26% {
    clip-path: polygon(
      100% 0,
      100% 0,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  56.58% {
    clip-path: polygon(
      100% 10%,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  57.89% {
    clip-path: polygon(
      100% 20%,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  59.21% {
    clip-path: polygon(
      100% 30%,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  60.53% {
    clip-path: polygon(
      100% 40%,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  61.84% {
    clip-path: polygon(
      100% 50%,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  63.16% {
    clip-path: polygon(
      100% 60%,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  64.47% {
    clip-path: polygon(
      100% 70%,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  65.79% {
    clip-path: polygon(
      100% 80%,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  67.11% {
    clip-path: polygon(
      100% 90%,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  68.42% {
    clip-path: polygon(
      100% 100%,
      100% 100%,
      0% 100%,
      0 0,
      50% 0%,
      60% 0,
      50% 50%
    );
  }
  69.74% {
    clip-path: polygon(90% 100%, 0% 100%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  71.05% {
    clip-path: polygon(80% 100%, 0% 100%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  72.37% {
    clip-path: polygon(70% 100%, 0% 100%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  73.68% {
    clip-path: polygon(60% 100%, 0% 100%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  75.0% {
    clip-path: polygon(50% 100%, 0% 100%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  76.32% {
    clip-path: polygon(40% 100%, 0% 100%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  77.63% {
    clip-path: polygon(30% 100%, 0% 100%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  78.95% {
    clip-path: polygon(20% 100%, 0% 100%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  80.26% {
    clip-path: polygon(10% 100%, 0% 100%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  81.58% {
    clip-path: polygon(0% 100%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  82.89% {
    clip-path: polygon(0% 90%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  84.21% {
    clip-path: polygon(0% 80%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  85.53% {
    clip-path: polygon(0% 70%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  86.84% {
    clip-path: polygon(0% 60%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  88.16% {
    clip-path: polygon(0% 50%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  89.47% {
    clip-path: polygon(0% 40%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  90.79% {
    clip-path: polygon(0% 30%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  92.11% {
    clip-path: polygon(0% 20%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  93.42% {
    clip-path: polygon(0% 10%, 0 0, 50% 0%, 60% 0, 50% 50%);
  }
  94.74% {
    clip-path: polygon(0 0, 50% 0%, 60% 0, 50% 50%);
  }
  96.05% {
    clip-path: polygon(10% 0, 50% 0%, 60% 0, 50% 50%);
  }
  97.37% {
    clip-path: polygon(20% 0, 50% 0%, 60% 0, 50% 50%);
  }
  98.68% {
    clip-path: polygon(30% 0, 50% 0%, 60% 0, 50% 50%);
  }
  100% {
    clip-path: polygon(40% 0, 50% 0%, 60% 0, 50% 50%);
  }
}
.customColor {
  background-color: rgba(255, 255, 255, 0.1);
  border-color: rgba(255, 255, 255, 0);
  border-width: 2rem;
}
